# Скопируйте в .env и заполните своими значениями

# Токен бота от @BotFather
BOT_TOKEN=garage_project

# Ваш Telegram ID (узнать у @userinfobot)
ADMIN_ID=283570475

# Цель сбора (в рублях)
GOAL_AMOUNT=700000
